body{
    margin:0;
    background: linear-gradient(90deg, rgba(101,61,255,0.5) 0%, rgba(102,138,255,0.5) 51%, rgba(241,59,191,0.5) 100%);
}
main {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
footer {
    display:flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 10vh;

    background-color: rgba(255, 255, 255, 0.664);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
root{
    --field-size: 80%;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap:0px;

    width: 70vw;
    max-width: 50vh;
    height: 60vh;
    max-height: 450px;
    background-color: transparent;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);

    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -2px -3px 7px rgba(255, 255, 255, 0.2);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
#header{
    width:100%;
    height:10%;
    text-align: center;
    align-self:center;
    font-family: 'Righteous', sans-serif;
    font-size: 24px;
}
.mode-controls{
    display: flex;
    flex-direction: row;
    width:100%;
    height:10%;
    justify-content: space-between;
}
.marker-controls{
    display: flex;
    flex-direction: row;
    width:100%;
    height:10%;
    justify-content: center;
    align-items: center;
}
#message{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width:50%;
}
#field{
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    border:solid hotpink 3px;
    border-radius:10px;
    overflow: hidden;
    width:80%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    align-self:center;

    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.6), -2px -2px 5px rgba(0, 0, 0, 0.2);
}
#x-marker-btn, #o-marker-btn, #friend-btn, #computer-btn, #mode-btn, #restart-btn{
    width:25%;
    height:50%;
    border:solid hotpink 1px;
    margin:10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#friend-btn, #computer-btn{
    width:30%;
    font-family: 'Open Sans', sans-serif;
}
#x-marker-btn.chosen, #o-marker-btn.chosen, #friend-btn.chosen, #computer-btn.chosen{
    background-color: hotpink;
    color:white;
}
#x-marker-btn:disabled, #o-marker-btn:disabled, #friend-btn:disabled, #computer-btn:disabled{
    opacity:80%;
    color:black;
}
#field > div{

    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: calc(3*var(--field-size)/10);
    aspect-ratio: 1 / 1;

    border:solid hotpink 1px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:large;
    text-shadow: 0px 0px 5px white;
}

.mode-modal
{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap:5%;

    position: fixed;
    top: calc(50% - 10vh);
    left: calc(50% - 125px);
    z-index: 2;

    width:250px;
    height:20vh;

    background-color: whitesmoke;
    border-radius:10px;
    border:none;

}
#mode-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-align: center;
}
.mode-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50%;
}
.mode-modal.active {
    display: flex;
}
#exit-btn{
    display:flex;
    justify-content: center;
    margin-left:90%;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:black;

    background-color: transparent;
    border:none;
}

.theme-slider{
    
    position:fixed;
    top:10px;
    left:10px;
    width:40px;
    height:20px;
    border-radius:30px;

    background: linear-gradient(90deg, hotpink 0%, rgb(193, 154, 255) 100%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#theme-btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#theme-btn::after{
  content: "";
  display: inline-block;
  width:20px;
  height:20px;
  position: absolute;
  top:0;
  left:0;
  background-color: white;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.233);
  border-radius: 50%;
  transform: translateX(0);
}

#theme-btn:checked::after{
    transform: translateX(calc(20px));
    box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.233);
}

.dark-theme-bg{
    background-color: rgb(24, 23, 24);
}

.main-container.dark-theme{
    background: rgb(24, 23, 24);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -2px -3px 7px rgba(255, 255, 255, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.08);
}

#field.dark-theme{
    box-shadow:none;
    border: solid purple 3px;
}

#field > div.dark-theme{
    border:solid purple 1px;
    color:white;
    text-shadow: none;
}

#x-marker-btn.dark-theme, #o-marker-btn.dark-theme, #friend-btn.dark-theme, #computer-btn.dark-theme, #mode-btn.dark-theme, #restart-btn.dark-theme{
    background-color: purple;
    color:white;
    border:solid black 1px;
}

#header.dark-theme{
    color:white;
}

#message.dark-theme{
    color:white;
}