body{
    margin: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:calc(50% - 35vh);
    left:calc(50% - 30vw);
    width: 60vw;
    height: 70vh;
    background-color: whitesmoke;
    border:none;
    border-radius:10px;
    box-shadow: 2px 5px 5px 5px #00000050;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
}
#header{
    width:100%;
    height:10%;
    border: solid red 2px;
    text-align: center;
    align-self:center;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.mode-controls{
    display: flex;
    flex-direction: row;
    border:solid red 2px;
    width:100%;
    height:10%;
    justify-content: space-between;
}
.marker-controls{
    display: flex;
    flex-direction: row;
    border:solid red 2px;
    width:100%;
    height:10%;
    justify-content: space-between;
    align-items: center;
}
.mode-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid red 1px;
    width:100%;
}
#field
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border:solid hotpink 2px;
    border-radius:10px;
    overflow: hidden;
    width:300px;
    height:300px;
    align-self:center;
}
#x-marker-btn, #o-marker-btn, #friend-btn, #computer-btn{
    width:30%;
    height:50%;
    border:solid hotpink 1px;
    margin:20px;
    border-radius: 5px;
}
#x-marker-btn.chosen, #o-marker-btn.chosen, #friend-btn.chosen, #computer-btn.chosen{
    background-color: hotpink;
    color:white;
}
#x-marker-btn:disabled, #o-marker-btn:disabled, #friend-btn:disabled, #computer-btn:disabled{
    opacity:80%;
    color:black;
}
#field > div{
    border:solid hotpink 1px;
    text-align: center;
    align-items: center;
}
.mode-modal
{
    display: none;
    width:250px;
    height:20vh;
    background-color: whitesmoke;
    border-radius:10px;
    border:none;
    z-index: 2;
}

.mode-modal.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc(50% - 10vh);
    left: calc(50% - 125px);
}

#exit-btn{
    margin:0;
}